name: foodgram-backend CI

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

defaults:
  run:
    working-directory: ./infra

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Start Docker Compose services
        continue-on-error: true
        run: |
          docker compose up --wait

      - name: Run collections
        uses: matt-ball/newman-action@master
        with:
          collection: ./postman_collection/foodgram.postman_collection.json
          environment: ./postman_collection/postman_environment.json
